$max-width: 1900px;
$regular-width: 1170px;
$header-height: 100px;
$common-padding: 10px;

$color-light: #ffffff;
$color-dark: #000000;
$color-blue: #2b2e4a;
$color-red: #e84545;

$desktop: 1024px;
$tablet-large: 900px;
$tablet: 768px;
$tablet-small: 640px;
$smartphone: 480px;
